<div id="grid">

</div>
@section Scripts {
<script src="~/Scripts/HomeGrid.js" language="javascript"></script>
<script>
    $(document).ready(refreshGrid(@ViewBag.ClassroomId));
</script>
    }
