<br />
<center><input type="checkbox" name="ShowAll" checked></center>
    <p>
        <table width="100%" class="table table-striped table-bordered" id="datatable" cellspacing="0">
            <thead>
                <tr>
                    <th>Start</th>
                    <th>Course</th>
                    <th>Region</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Start</th>
                    <th>Course</th>
                    <th>Region</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </p>
@section css{
    <link rel="stylesheet" href="~/Content/bootstrap-switch/bootstrap3/bootstrap-switch.min.css" />
    }
@section Scripts {
    <script src="~/Scripts/bootstrap-switch.min.js"></script>
    <script src="~/Scripts/HomeIndex.js" language="javascript"></script>
}
