<div class="row wide" id="Switch">
    <div class="col-sm-12 margin-bottom-md">
        <center><input type="checkbox" name="ShowAll" checked></center>
    </div>
</div>
<div class="row wide" id="Table">
    <div class="col-sm-12">
        <p>
            <table width="100%" class="table table-striped table-bordered" id="datatable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Start</th>
                        <th>Course</th>
                        <th>Region</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </p>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/HomeIndex.js" language="javascript"></script>
}
