<div class="row wide" id="Table">
    <div class="col-sm-12">
        <p>

            <table width="100%" class="table table-striped table-bordered" id="datatable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Time Zone</th>
                        <th>Type</th>
                        <th>Gateway IP</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </p>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/DataCenterIndex.js" language="javascript"></script>
}